.done_outline{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 55px;
  margin-left: 25px;
} 



$circle-length: 151px;
$check-length: 36px;


.wrapper{
    text-align: center;
}

svg{
    height: 300px;
    width: 300px;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #3f51b5;
  display: flex;
  justify-content: center;
}

mat-card-title{
    text-align: center;
}


@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #3f51b5;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #3f51b5;
}

#successAnimationResult {
  fill: #3f51b5;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
  
  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}


