<div *ngIf="(snippet$ | async) as snippet">
  <mat-card>
    <mat-card-title>{{snippet.title}}</mat-card-title>
    <markdown [data]="snippet.code | language : snippet.language" lineNumbers></markdown>
    <markdown [data]="snippet.explanation"></markdown>
    <mat-card-actions>
        <button mat-button color="accent">Previous</button>
        <button mat-button color="accent">Next</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <disqus [identifier]="snippet.id"></disqus>
  </mat-card>

</div>

