.example-form {
    max-width: 500px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-full-width{
    margin-bottom: 20px;
  }

  button{
    background-color: #c2c6e0;
    text-align: center;
    font-weight: 500;
  }

  button:hover{
    color: #3f51b5;
  } 
